* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: hsl(212, 45%, 89%);
    font-family: 'Outfit', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    height: 100vh;
}

img {
    width: 100%;
    height: auto;
    border-radius: 1rem;
    margin-bottom: 1rem;
}

h1 {
    text-align: center;
    color: hsl(218, 44%, 22%);
    font-size: 1.75rem;
    padding-inline: 1.5rem;
    margin-bottom: 1rem;
    font-weight: 700;
    @media (max-width: 768px) {
        font-size: 2.25rem;
        padding-inline: 3rem;
    };
}

p {
    text-align: center;
    color: hsl(220, 15%, 55%);
    font-size: 1.3rem;
    padding-inline: 1.25rem;
    margin-bottom: 1rem;
    @media (max-width: 768px) {
        font-size: 1.75rem;
        padding-inline: 2.5rem;
    };
}

div {
    width: 450px;
    border-radius: 1rem;
    padding: 1.5rem;
    @media (max-width: 768px) {
        width: 600px;
    };
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
}